<h1 class="tituloPaginaHome">Página Home</h1>
<div class="contenidoHome">
    <input id="IDinput" placeholder="Id del producto" type="text" name="Pid">
    <input id="TitleInput" placeholder="Titulo del producto" type="text" name="title">
    <input id="DescInput" placeholder="descripcion" type="text" name="description">
    <input id="CodeInput" placeholder="codigo" type="text" name="code">
    <input id="PriceInput" placeholder="precio" type="number" name="price">
    <input id="StockInput" placeholder="stock" type="number" name="stock">
    <input id="CategInput" placeholder="category" type="text" name="category">
    <input id="ThumbInput" placeholder="thumbnails" type="text" name="thumbnails">
    <button id="btnSubmit" type="submit">Crear Producto</button>
</div>